{% extends "base.html" %}

{% block main %}
<h2 class="title is-4">Сегодня: {{ now_date }}</h2>
{% for h in holidays %}
<div class="box media">
  <figure class="media-left">
    <p class="image is-128x128">
      <a href="{% url 'holiday' h.id %}">
        {% if h.image %}<img src="{{ h.image.url }}">{% else %}<img src="{{ STATIC_URL }}images/noimage.png">{% endif %}
      </a>
    </p>
  </figure>
  <div class="media-content">
    <p class="title is-5"><a href="{% url 'holiday' h.id %}">{{ h }}</a></p>
    <p class="subtitle is-6">
      <a href="{% url 'holiday_date' month=h.get_month day=h.get_day %}">{{ h.get_date }}</a>
    </p>
    <div class="content">{{ h.description|safe }}</div>
  </div>
</div>
{% endfor %}

<h2 class="title is-4 mt-5">Завтра: {{ next_date }}</h2>
{% for h in tholidays %}
<div class="box media">
  <figure class="media-left">
    <p class="image is-128x128">
      <a href="{% url 'holiday' h.id %}">
        {% if h.image %}<img src="{{ h.image.url }}">{% else %}<img src="{{ STATIC_URL }}images/noimage.png">{% endif %}
      </a>
    </p>
  </figure>
  <div class="media-content">
    <p class="title is-5"><a href="{% url 'holiday' h.id %}">{{ h }}</a></p>
    <p class="subtitle is-6">
      <a href="{% url 'holiday_date' month=h.get_month day=h.get_day %}">{{ h.get_date }}</a>
    </p>
    <div class="content">{{ h.description|safe }}</div>
  </div>
</div>
{% endfor %}
{% endblock %}
