{% for h in holidays %}
{% ifchanged h.month %}
<h3 class="title is-4 mt-5"><a href="{% url 'holiday_date_month' month=h.month %}">{{ h.next_date|date:"F" }}</a></h3>
{% endifchanged %}
<div class="box columns is-vcentered">
  {% if h.image %}
  <div class="column is-narrow">
    <img src="{{ h.get_thumb }}" width="100" height="100">
  </div>
  {% endif %}
  <div class="column">
    <a href="{% url 'holiday' h.id %}">{{ h }}</a>
  </div>
  <div class="column is-narrow has-text-right">
    <a href="{% url 'holiday_date' month=h.get_month day=h.get_day %}">{{ h.get_date }}</a>
  </div>
</div>
{% endfor %}
